/* Estamos trayendo otro css */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* Estamos trayendo una fuente */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Normalizacion */
/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap'); */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h1{
    
    font-family: "DM Sans", sans-serif;
}

.padre{
    background-color: green;
   /*  height: 100vh; */ /* Viewport height */
    /* width: 100vw; */ /* Viewport width */

    display: flex;/* Esta propiedad activa flexbox */
    flex-direction: row;
    gap: 20px;

    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;

}

/* 
tengo 4 hijos, cada uno mide 200: 
800px 

tengo 3 gaps, cada uno mide 20:
60px

Cuanto padding tengo que darle al padre para que siempre hayan 5 hijos?
1200px-860px= 340px / 2 = padding-al-costado
*/
.hijo{
    
    height: 300px;
    border: yellow solid 1px;
    border-radius: 10px;
    background-color: white;
}

.hijo:nth-child(1){
    order: 1;
    flex: 1;
    background-color: rgb(61, 234, 124);
}

.hijo:nth-child(2){
    flex: 2;
    order: 3;
    background-color: red;
}

.hijo:nth-child(3){
    flex: 1;
    order: 2;
    background-color: rgb(41, 44, 215);
}

.bi-star-fill{
    color: red;
    font-size: 24px;
}