*{
    box-sizing: border-box;
}

h1{
    color: red;
    width: 500px;
}
span{
    display: inline-block;
    width: 20px;
    margin-right: 200px;
    margin-bottom: 200px;
    padding: 10px;
}

input{
    width: 400px;
    
}

.caja{
    width: 200px;
    height: 200px;
    background-color: brown;
    /* padding-left: 20px; */
    /* padding: 50px 10px; vertical horizontal */
    /* padding: 50px 10px 80px; top horizontal bottom */
    /* padding: 10px 20px 30px 40px; top right bottom left*/
    /* 
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px; */
    /* padding-left: 100px; */
    border: 5px solid black;
    /* border-right: 1px solid black;
    border-top: 4px dashed yellow; */
    /* margin-bottom: 10px; */
    margin: 50px 20px;
    text-align: center;
}

.caja-especial{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    /* box-shadow: 
    20px -20px 0px 0px rgba(0, 0, 0, 0.467),
    300px 0px 10px  yellow
    ; */
    /* box-shadow: inset 0 0 10px black; */

}

header{
    background-color: #FFE600;

    margin-top: 40px;
    padding: 40px 20px;
}

header input{
    padding: 10px 60px 10px 15px;
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    border:  1px solid transparent;
}
header input::placeholder{
    font-size: 16px;
}
/* header input:focus{
    background-color: red;
} */

header input:focus-visible{
    outline: none;
    border:  1px solid #3483FA;
}