*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.padre{
    width: 100vw;
    height: 100vh;
    background-color: greenyellow;
    display: flex;
    justify-content: start;
    align-items: start;
}


.hijo{
    width: 200px;
    height: 200px;
    color: white;
    border: 1px solid black;

}

.hijo:nth-child(1){
    background-color: aqua;
}
.hijo:nth-child(2){
    background-color: red;
    position: relative;

    bottom: -100px;
    left: 100px;
    z-index: 2;
    
    /* 
    estas propiedades se activan con cualquier position distinto de static
    Reglas:
    top vale mas que bottom
    left vale mas que right
    Recomendacion:
    NO usar bottom o top al mismo tiempo
    NO usar left o right al mismo tiempo

    top: ;
    bottom: ;
    left: ;
    right: ; */
}
.hijo:nth-child(3){
    background-color: blueviolet;
    z-index: 1;
}