
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: aliceblue;
}
div{
    margin: 500px, 200px;
}
.precio-viejo{
    text-decoration: line-through;
    font-family: 'Lucida Sans';
    font-size: 30px;
    text-indent: 900px;
    display: inline-block;
    }
.ahorro{
    height: 60px;
    width: 300px;
    background-color: rgb(216, 217, 241);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    border: none;
    border-radius: 30px;
    align-content: center;
    text-align: center;
    display: inline-block;
}
.plan1{
    margin-left: 100px;
    margin-top: 50px;
    height: 40px;
    width: 300px;
    background-color: rgb(71, 76, 207);
    font-family:'Arial Narrow Bold', sans-serif;
    color: white;
    font-weight: 200;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    text-align: center;
    align-content: center;
}
.plan2{
    margin-left: 150px;
    margin-top: 100px;
    height: 20px;
    width: 200px;
    background-color: white;
    font-family:  'Arial Narrow Bold', sans-serif;
    color: rgb(71, 76, 207);
    font-weight: 00;
    font-size: 10px;
    border: 2px, solid, rgb(71, 76, 207);
    border-radius: 5px;
    text-align: center;
    align-content: center;
    display: inline-block
}
.promocion{
    margin-left: 300px;
    color: rgb(84, 34, 201);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
    display: inline-block;
}
span{
    color: rgb(84, 34, 201);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200px;
    display: inline-block
}
.vendidos2{
    background-color: rgb(230, 233, 253);
    color: blue;
    font-size: 15px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    width: 200px;
    border-radius: 5px;
    text-align: center;
    align-content: center;
    margin: 10px;
}
.vendidos{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bolder;

}

/* carta mercadolibre */
aside{
    background-color: #EBEBEB;
}

.product-ml-card{
    height: 350px;
    width: 210px;
/*     border: 20px, solid, rgb(201, 200, 200); */
    margin-top: 20px;
    display: block;
    padding: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
    background-color: #FFFFFF;
}

.product-ml-card .imagen{
    text-align: center;
}
.product-ml-card .imagen img{
    margin-top: 30px;
    height: 150px;
    width: 150px;
}
.product-ml-card .tendencia{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}
.vendidos3{
    background-color: rgb(230, 233, 253);
    color: blue;
    font-size: 15px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    align-content: center;
    margin-top: 30px;
    margin-left: 5px;
}