@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --font-color: white;
    --width-container-1:936px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
    color: var(--font-color);
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;    
    background-color: rgb(27, 27, 27);
}

.container {
    width: var(--width-container-1);
    height: 500px;   
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 36px;
    
}
.container h2 {
    margin-bottom: 9px;
    font-size: 26px;
    font-weight: 400;
    line-height: 31px;
}
.card-titles a {
    font-size: 18px;
    line-height: 31.5px;
    text-decoration: none;
    text-decoration-line: none;
}
.card-titles a:hover {

    text-decoration: underline var(--font-color) 1px;
}

.card-titles h3 a {
    font-size: 21.6px;
    line-height: 32.4px;
    margin-bottom: 18px;
    font-weight: 500;
}
section {
    display: flex;
    flex-direction: row;
    gap: 1rem
}
section .card-articles {
    width: 459px;
    height: 217px;
    padding: 18px;
    border: 1px solid #858585;
    border-radius: 9px;
}
section .card-articles .card-title-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-info-up .card-articles .card-title-top .card-titles {
    height: 116px;
}
.section-info-down .card-articles {
    height: 185px;
}
.section-info-down .card-articles .card-title-top .card-titles {
    height: 82px;
}

.card-articles:hover{
    box-shadow: 0px 1px 6px 0px #fbfbfe33;
    -webkit-box-shadow: 0px 1px 6px 0px #fbfbfe33;
    -moz-box-shadow: 0px 1px 6px 0px #fbfbfe33;
}
