@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}
/* SECCION ATENCION */
.seccion-atencion {
    padding: 40px;
    background-color: #673DE6;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.contenedor-atencion {
    display: flex;
    justify-content: center;
    gap: 80px;
    color: white;
}
.contenedor-atencion__disponibilidad {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 400px;
    gap: 30px;
    justify-content: center;
}
.contenedor-atencion__titulo {
    padding-bottom: 20px;
    font-size: 36px;
}
.contenedor-atencion__texto {
    font-size: 16px;
    text-align: justify;
}
.contenedor-atencion__icono {
    font-size: 20px;
    color: white
}
.contenedor-atencion__imagen--img {
    width: 550px;
}
/* RESEÑAS */
.contenedor-reseñas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.contenedor-reseñas .reseña {
    background-color: rgb(80,37,209);
    padding: 32px;
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
}
.contenedor-reseñas .reseña .reseña-imagen img {
    width: 250px;
}
.reseña-imagen {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.reseña .reseña-texto {
    line-height: 25px;
    color: white;
    display: flex;
}
.reseña-boton {
    display: flex;
    justify-content: flex-end;
}
.bi-chevron-right {
    text-decoration: none;
    color: white;
}

li{
    list-style-type: none;
}