.title{
    font-size: 24px;
    line-height: 32px;
    color: var(--text-1);
    font-weight: 700;
    text-align: center;
}
.title-2{
    line-height: 24px;
    color: var(--text-1);
    font-size: 18px;
    font-weight: 700;
}


.text-1{
    font-size: 14px;
    color: var(--text-1);
    font-weight: 400;
    line-height: 24px;
}

.link-1{
    font-size: 16px;
    color: var(--text-2);
    font-weight: 700;
    text-decoration: none;
}



.btn-container{
    display: flex;
    justify-content: center;
}
.btn-secondary{
    display: inline-block;
    font-size: 16px;
    color: var(--text-2);
    font-weight: 700;
    text-decoration: none;
    padding: 12px 48px;
    border:  var(--text-2) 2px solid;
    border-radius: 8px;
    text-align: center;
}
